*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(80, 86, 139);
    color: black;
    font-family: 'Roboto', sans-serif;
}

.contenedor{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: repeat(4,auto);

    grid-template-areas: 
    "header header header"
    "A1 A1 A2"
    "A3 A4 A4"
    "A5 A5 A6"
    ;
}

.contenedor .header,
.contenedor .A1,
.contenedor .A2,
.contenedor .A3,
.contenedor .A4,
.contenedor .A5,
.contenedor .A6{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header{
    grid-area: header;
    background-color: #12203e;
    color: #fff;
}
.titulo-1{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}
.contenedor h4{
    text-decoration: underline;
    padding-bottom: 8px;
}
.contenedor .A1{
    grid-area: A1;
    background-color: #12203e;
    color: #fff;
    text-align: justify;
}
.contenedor .A2{
    grid-area: A2;
}
.contenedor .A2 img{
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 220px;
    border-radius: 5px;
}
.contenedor .A3{
    grid-area: A3;
}
.contenedor .A3 img{
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 220px;
    border-radius: 5px;
}

.contenedor .A4{
    grid-area: A4;
    background-color: #12203e;
    color: #fff;
    text-align: justify;
}
.contenedor .A5{
    grid-area: A5;
    background-color: #12203e;
    color: #fff;
    text-align: justify;
}
.contenedor .A6{
    grid-area: A6;
}
.contenedor .A6 img{
    justify-content: center;
    align-items: center;
    max-width: 100%;
    border-radius: 5px;
    padding: 19px 0px 0px 0px;
}