
.cuerpo{
    background-color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo{
    text-align: center;
    color: rgb(141, 108, 19);
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 45px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    text-decoration-line: underline;
}

.menu{
    text-align: center;
    margin: 0;
    
}

.menu li{
    display: inline-block;
}

.menu a{
    padding: 45px;
    color: cadetblue;
    text-decoration: none;
    display: block;
    
}

.menu a:hover{
    background-color: rgb(50, 52, 47);
}