*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-image: url("/Imagenes/manuel-cosentino-n--CMLApjfI-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.cuerpo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    min-height: 100%
}

.titulo{
    text-align: center;
    color: rgb(141, 108, 19);
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 45px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    text-decoration-line: underline;
}

.menu{
    text-align: center;
    margin: 0;
}

.menu li{
    display: inline-block;
}

.menu a{
    padding: auto;
    padding: 10px 0px;
    color: rgb(45, 76, 78);
    text-decoration: none;
    display: block;
}

.menu a:hover{
    background-color: rgb(50, 52, 47);
}

body > *{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

body{
    display: grid;
    gap: 10px;
    grid-template-areas:
    "header"
    "nav"
    "section"
    "aside"
    "footer"
    ;
}

.header{
    grid-area: header;
}

.nav{
    grid-area: nav;
}
.b1,.b2,.b3{
    width:190px;
    padding: auto;
    text-align: center;
    border-radius: 10px
}

.section{
    grid-area: section;
}
p{
    padding: 20px;
}
.jap{
    padding: 25px 0px ;
    border-radius: 15px;
    float: left;
    width: 530px;
    height: 330px;
}
.jap2{
    padding: 25px 0px;
    border-radius: 15px;
    float: right;
    width: 530px;
    height: 330px;
}

.aside{
    grid-area: aside;
    color: brown;
}
.a1,.a2,.a3,.a4 {
    width:200px;
    padding: 5px 0px;
    border-radius: 10px;
}

.footer{
    grid-area: footer;
}

@media (min-width:600px){
    body{
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px ;
        grid-template-areas: 
        "header header"
        "nav nav"
        "aside section"
        "footer footer";
    }
}

@media (min-width:900px){
    body{
        grid-template-columns: 200px auto 200px;
        grid-template-rows: 100px auto 100px;
        grid-template-areas:
        "header header header"
        "nav section aside"
        "footer footer footer"
    }
}